.form {
    padding: 45px;
    margin: 45px;
    border: solid 5px green;
    background: linear-gradient(0deg, rgba(86,195,34,1) 0%, rgba(253,194,45,0.5133403703278187) 100%);
}

h1 {
    size: 20px;
    color: green;
    padding-bottom: 35px;
}

